.App {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  height: 100vh;
}

p {
  font-weight: 600;
  color: #0078AA;
}

h1, h2, h3, h4, h5, h6, a {
  font-family: 'Lobster', cursive;
  font-weight: bold;
  color: #3AB4F2;
}

.bi {
 color: #F2DF3A;
}

input {
  text-align: center;
}

.tab-links {
  color: #0078AA;
  font-family: 'Lobster', cursive;
  font-weight: 700;
}